@use "./variables" as *;

body{
    background-color: $iceBlue;
}

.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}

.button {
    color: $iceBlue;
    background-color:$secondary;
    padding: 8px 18px;
    text-align: center;
    transition: 0.3s;

    &:hover {
        background-color: $iceBlue;
        color:$secondary;
        border:2px solid $secondary;
    }

    &:focus {
        background-color: $iceBlue;
        color: $secondary;
        border:2px solid $secondary;
    }
}

footer{
    .footer-ending{
        background-color: black;
        color:white;
        max-width: 100vw;
        font-size: 1.6rem;
        text-align: center;
    }
}